
  .logo {
    width: 200px; /* Ajusta el tamaño del logo */
    margin-right: 10px; /* Espacio entre el logo y el texto */
    margin-left: 10px; /* Espacio entre el logo y el texto */
  }
  
  /* Estilos adicionales según tus preferencias */
  